{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="corporate" class="font-mono">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Billing System</title>
    <script src="{% static 'htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">
</head>

<body>
    <div id="message-container">
        {% include "billing/partials/messages.html" %}
    </div>

    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
    <script>
        // add CSRF token to the request headers for htmx requests
        document.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/barcode-scanner.js' %}"></script>
</body>

</html>