<span id="bill-total" hx-swap-oob="true">{{ bill.total_amount }}</span>

{% for item in items %}
<div class="p-2 bg-base-100 rounded-md shadow-md flex flex-col md:grid md:grid-cols-6 md:gap-2 items-center">
    <div class="w-full md:w-auto p-2">
        <p class="flex justify-between"><span class="md:hidden font-bold">Item:</span>{{ item.product.name }}</p>
    </div>
    <div class="w-full md:w-auto p-2">
        <p class="flex justify-between"><span class="md:hidden font-bold">Quantity:</span>{{ item.quantity }}</p>
    </div>
    <div class="w-full md:w-auto p-2">
        <p class="flex justify-between">
            <span class="md:hidden font-bold">Price:</span>
            {{item.get_rate}}
        </p>
    </div>
    <div class="w-full md:w-auto p-2">
        <p class="flex justify-between"><span class="md:hidden font-bold">Discount:</span>
            {% if item.discount_type != 0 %}
            <span>
                {% if item.discount_type == -1 %}
                    {{ item.custom_discount }}%
                {% else %}
                    {{ item.discount_type }}%
                {% endif %}
            </span>
        {% else %}
            <span>-</span>
        {% endif %}
        </p>
    </div>
    <div class="w-full md:w-auto p-2">
        <p class="flex justify-between"><span class="md:hidden font-bold">Total:</span>{{ item.total }}</p>
    </div>
    <div class="w-full md:w-auto mt-2 md:mt-0 text-right">
        <button class="btn btn-sm btn-error text-xl w-full md:w-auto" hx-delete="{% url 'delete_item' item.id %}"
            hx-target="#bill_items">
            Remove
        </button>
    </div>
</div>
{% endfor %}

<span id="bill-total-footer" hx-swap-oob="true">{{ bill.total_amount }}</span>